<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
       .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        height: 500px;
        width: 800px;
        
        background: white;
        backdrop-filter: saturate(180%) blur(10px);
        }
        .item {
            background-color: white;
            box-shadow: 3px 3px 3px 3px grey;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            margin-top: 80px;
            margin-left: 20px;
            height: 400px;
        }
        .item img{
            height: 300px;
            width: 300px;
        }
        .container a{
            text-decoration: none;
        }
    </style>
    <div class="container">
        <a href="/form"><div class="item">
            <div><img src="https://p.kindpng.com/picc/s/49-492630_hitachi-gas-stove-hd-png-download.png"></div>
            <div><h3>STOVES</h3></div>
        </div></a>
        <a href="/form"><div class="item">
            <div><img src="https://cdn-egdoo.nitrocdn.com/SdZBeNcxCuFccsAMAoRRmDBycRVZcjrP/assets/images/optimized/rev-6e62f3c/wp-content/uploads/2022/03/4.png"></div>
            <div><h3>ROTI MAKERS</h3></div>
        </div></a>
        <a href="/form"><div class="item">
            <div><img src="https://www.pngitem.com/pimgs/m/171-1717107_microwave-oven-images-png-transparent-png.png"></div>
            <div><h3>OVENS</h3></div>
        </div>  </a>
        <a href="/form"><div class="item">
            <div><img src="https://www.pngarts.com/files/3/Modern-Microwave-Oven-PNG-Image-Background.png"></div>
            <div><h3>MICROWAVES</h3></div>
        </div> </a>
    </div>
</body>
</html>