<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
       .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        height: 500px;
        width: 800px;
        
        background: white;
        backdrop-filter: saturate(180%) blur(10px);
        }
        .item {
            background-color: white;
            box-shadow: 3px 3px 3px 3px grey;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            margin-top: 80px;
            margin-left: 20px;
            height: 400px;
        }
        .item img{
            height: 300px;
            width: 300px;
        }
        .container a{
            text-decoration: none;
        }
    </style>
    <div class="container">
        <a href="/form"><div class="item">
            <div><img src="https://www.pngmart.com/files/7/Air-Conditioner-PNG-Transparent-Picture.png"></div>
            <div><h3>AIR CONDITIONER</h3></div>
        </div></a>
        <a href="/form"><div class="item">
            <div><img src="https://png.pngitem.com/pimgs/s/133-1332033_difference-between-desert-cooler-and-air-cooler-hd.png"></div>
            <div><h3>AIR COOLERS</h3></div>
        </div></a>
        <a href="/form"><div class="item">
            <div><img src="http://atlas-content-cdn.pixelsquid.com/stock-images/radiator-heater-Jem44aF-600.jpg"></div>
            <div><h3>RADIATORS</h3></div>
        </div>  </a>
        <a href="/form"><div class="item">
            <div><img src="https://www.pngitem.com/pimgs/m/78-789501_thumbnails-electric-water-heater-price-in-philippines-hd.png"></div>
            <div><h3>WATER HEATERS</h3></div>
        </div> </a>
    </div>
</body>
</html>