<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        
        .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        height: 500px;
        width: 800px;
        
        background: white;
        backdrop-filter: saturate(180%) blur(10px);
        }
        .item {
            background-color: white;
            box-shadow: 3px 3px 3px 3px grey;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            margin-top: 80px;
            margin-left: 20px;
            height: 400px;
        }
        .item img{
            height: 300px;
            width: 300px;
        }
        .container a{
            text-decoration: none;
        }
    </style>
    <div class="container">
        <a href="/form"><div class="item">
            <div><img src="https://pngimg.com/d/coffee_machine_PNG17307.png"></div>
            <div><h4>COFFEE MAKERS</h4></div>
        </div></a>
        <a href="/form"><div class="item">
            <div><img src="https://www.pngall.com/wp-content/uploads/12/Kitchen-Toaster-PNG-Image.png"></div>
            <div><h3>TOASTERS</h3></div>
        </div></a>
        <a href="/form"><div class="item">
            <div><img src="https://www.seekpng.com/png/detail/152-1527679_mixer-grinder-png-clipart-mixer-machine-logo-png.png"></div>
            <div><h3>MIXERS</h3></div>
        </div>  </a>
        <a href="/form"><div class="item">
            <div><img src="https://www.pngall.com/wp-content/uploads/13/Water-Purifier-PNG-Image-File.png"></div>
            <div><h4>WATER PURIFIERS</h4></div>
        </div> </a>
    </div>
</body>
</html>