<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-image: url("../Images.front.jpg");
        }
        .container{
            border-radius: 20px 0 20px 0;
            box-shadow: 10px 20px 25px rgba(0,0,0,.3, green, blue, alpha);
            overflow:hidden;
            max-width: 100%;
            width: 600px;
            height: 550px;
            margin: 15vh auto 0 auto;
            background: rgba(223, 187, 187, 0.8);
            backdrop-filter: saturate(180%) blur(10px);
        }
        .box{
            font-size: 40px;
            margin: 10px;
            padding: 25px;
            text-align: center;
            background-color: lightblue;
            border-radius: 30px;
        }
        .container a{
            text-decoration: none;
        }

    </style>
    <div class="container">
        <a href="/refapp"><div class="box">Refrigeration Appliances</div></a>
        <a href="/cookapp"><div class="box">Cooking Appliances</div></a>
        <a href="/wapp"><div class="box">Washing and Drying Appliances</div></a>
        <a href="/happ"><div class="box">Heating and Cooling Appliances </div></a>
        <a href="/kitapp"><div class="box">Kitchen Appliances </div></a>
    </div>
</body>
</html>