<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-image: url("https://scottmcgillivray.com/wp-content/uploads/2019/06/Frigidaire-Suite-of-Built-Ins.jpg ");
            background-repeat: no-repeat;
            background-size: cover;
           
            
        }
        .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        height: 500px;
        width: 800px;
        }
        .item {
            background-color: white;
            box-shadow: 5px 5px 5px 5px grey;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            margin-top: 80px;
            margin-left: 20px;
            height: 300px;
            width: 300px;
            border-radius: 10px;
        }
        .item img{
            height: 200px;
            width: 200px;
        }
        .container a{
            text-decoration: none;
        }
    </style>
    <div class="container">
        <a href="/form"><div class="item">
            <div><img src="https://www.teahub.io/photos/full/359-3592775_freezer-backgrounds-on-wallpapers-vista-deep-freezer-big.jpg"></div>
            <div><h3>FREEZER</h3></div>
        </div></a>
        <a href="/form"><div class="item">
            <div><img src="https://www.pngitem.com/pimgs/m/195-1950107_single-door-fridge-super-general-hd-png-download.png"></div>
            <div><h3>REFRIGERATORS</h3></div>
        </div></a>
        <a href="/form"><div class="item">
            <div><img src="https://5.imimg.com/data5/FI/CS/VJ/SELLER-8657816/water-cooler-500x500.jpg"></div>
            <div><h3>WATER COOLERS</h3></div>
        </div>  </a>
        <a href="/form"><div class="item">
            <div><img src="https://www.averest.com.my/image/cache/wkseller/15/ice-cream-machine/HD-Counter-Ice-Maker/HD-counter-ice-cube-machine-500x500.JPG"></div>
            <div><h3>ICE MAKERS</h3></div>
        </div> </a>
    </div>
</body>
</html>