<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><h1><i>General ponits to be remember while purchasing home appliances!!!</i></h1>
<p>
    It is evident that there is not a single device that can perform all the tasks. So, there should not be a one-shoe-fits-all approach while buying from the home appliances list. Before buying the best home appliances for your home or office, determine their purposes.
</p>
<p>
    For example, if you want a heater for drinking water, consider buying an appliance that can simultaneously dispense both warm and cold water. If you need it for showering, buying a geyser is the only option.
    Also, keep the price point in mind. A good vacuum cleaner from a reputed brand may cost significantly higher than any average cleaning appliance, but it may return better service in the long run. Harboring an investment mindset helps choose the best appliance for home and office.
</p>
<h1><i>About us!!</i></h1>
<P>Home appliances have become an integral part of human lives. Washing, cleaning, or cooking - machines make our daily lives easier. We wake up in the morning, cook our breakfast using an induction oven or microwave oven, and store the leftovers in the refrigerator.

    It is hard to imagine our lives without these appliances.
    
    Depending on the season, we use cooling and heating home appliances like air conditioners, room-heaters, and geysers. We wash and dry our laundry in washing machines and drying appliances. The list goes on.
    
    The usefulness of home appliances is pretty apparent and, to be honest, unquestionable.
<br><br>
<div style="display: flex;justify-content: center;">
    <img src="../Images/pexels-max-rahubovskiy-7746035.jpg" style="width:600px;height:400px;"><br>
</div><br><br>
Considering the need of today's world <i>QUICKFIX</i>
developed which is an e-commerce website engaged in electronic and electrical appliances
repair and service of new and old products. Bad/faulty gadget/appliances can lead to numerous problems ranging from 
frequent power outages, house fires, etc. Fixing it on your own can be fatal. 
Gadget/appliances repairs need to be done by expert technicians as an improper work 
may put lives and property at risk. In this customer gets a door 
step technical assistance for them product with one tap request with minimal charges. 
The key idea behind this project is to provide door step services to customer to save their
time and efforts.
<h1>Popular and best brands to choose from</h1>
<h3>Best AC Brands</h3>
<ul>
    <li>Mitsubishi</li>
    <li>Samsung</li>
    <li>Voltas</li>
    <li>BlueStar</li>
    <li>Daikin</li>
    <li>Hitachi</li>
    <li>O'General</li>
    <li>Lloyd</li>
    <li>Carrier</li>
    <li>Panasonic</li>
</ul>
<h3>Best Kitchen Appliances Brands,
    Best Cooking Appliances Brands,
    Best Cleaning Appliances Brands</h3>
<ul>
    <li>Whirlpool</li>
    <li>Bosch</li>
    <li>LG</li>
    <li>Bajaj</li>
    <li>Pigeon</li>
    <li>Cello</li>
    <li>Philips</li>
    <li>Eureka Forbes</li>
    <li>Kent</li>
    <li>Havells</li>
    <li>IFB</li>
    <li>Prestige</li>
    <li>Faber</li>
</ul>



































</body>
</html>