<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        
       .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
        height: 500px;
        width: 800px;
        
        background: white;
        backdrop-filter: saturate(180%) blur(10px);
        }
        .item {
            background-color: white;
            box-shadow: 3px 3px 3px 3px grey;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            margin-top: 80px;
            margin-left: 20px;
            height:400px;
        }
        .item img{
            height: 300px;
            width: 300px;
        }
        .container a{
            text-decoration: none;
        }
    </style>
    <div class="container">
        <a href="/form"><div class="item">
            <div><img src="https://pngimg.com/d/washing_machine_PNG15612.png"></div>
            <div><h4>WASHING MACHINES</h4></div>
        </div></a>
        <a href="/form"><div class="item">
            <div><img src="https://w7.pngwing.com/pngs/711/782/png-transparent-gray-lg-front-load-clothes-washer-washing-machine-combo-washer-dryer-clothes-dryer-lg-corp-washing-machine-electronics-dishwasher-home-appliance-thumbnail.png"></div>
            <div><h4>CLOTH DRYERS</h4></div>
        </div></a>
        <a href="/form"><div class="item">
            <div><img src="https://www.leapfrogmachinery.com.au/wp-content/uploads/2021/02/VDC-253610_2021-300x257.png"></div>
            <div><h4>DRYING CABINETS</h4></div>
        </div>  </a>
        <a href="/form"><div class="item">
            <div><img src="https://www.seekpng.com/png/detail/283-2839280_samsung-rotary-dishwashers-samsung-24-built-in-dishwasher.png"></div>
            <div><h4>DISH WASHERS</h4></div>
        </div> </a>
    </div>
</body>
</html>